body {
    text-align: center;
  }
  
  h1{
    background-color: aqua;
  }
  .choice-button {
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(89, 91, 201);
    border-radius: 50px;
    cursor: pointer;
  }
  
  .choice-image {
    height: 75px;
  }

  #reset_id{
    background-color:black;
    border-radius: 10px;
    color: white;
    width: 100px;
  }